* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img:hover {
    cursor: pointer;
}

:root {
    --a: 0;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.close-btn {
    display: none;
    position: absolute;
    right: 25px;
    top: 55px;
}

.hamburger {
    display: none;
}

.logo {
    gap: 10px;
}

.logo img {
    width: 22px;
}

.home ul li {
    width: 20px;
    gap: 15px;
    list-style: none;
    display: flex;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    gap: 15px;
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding: 23px 14px;
    width: 100%;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 20px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: #808080;
    text-decoration: none;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    padding: 10px;
    height: 53px;
}

header>* {
    padding: 10px;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav img {
    width: 18px;
}

.spotify-playlist {
    padding: 16px;
    position: relative;
}

.card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 60vh;
    overflow-y: auto;
}

.spotify-playlist .card {
    width: 220px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    transition: all 0.3s;
    margin: 5px;
    position: relative;
}

.card>* {
    padding-top: 10px;
}

.card .coverImg {
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.card h2 {
    font-size: 22px;
    text-align: center;
}

.card p {
    text-align: center;
    font-size: 17px;
}

.card:hover {
    background-color: rgba(94, 89, 89, 0.762);
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    --a: 1;
    transform: scale(1.02);
}

.play img {
    background-color: #1fdf64;
    border-radius: 50%;
    width: 35px;
    padding: 2px;
    position: absolute;
    right: 20px;
    bottom: 180px;
    opacity: var(--a);
    transition: all 0.5s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.buttons a {
    text-decoration: none;
    color: white;
}

.signup-btn {
    background: rgb(34, 34, 34);
    ;
    color: rgb(154, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}

.signup-btn:hover {
    font-size: 17px;
    color: white;
}

.login-btn {
    background-color: white;
    border-radius: 15px;
    color: black;
    padding: 7px;
    border: none;
    outline: none;
    width: 65px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login-btn:hover {
    font-size: 17px;
}


.song-list {
    max-height: 65vh;
    overflow-y: scroll;
    margin-bottom: 2;
}

.song-list ul {
    padding: 0 12px;
}

.song-list li {
    list-style-type: decimal;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
    padding: 12px 7px;
    border: 1px solid white;
    margin: 7px 0;
    border-radius: 5px;
}

.song-list li:hover {
    box-shadow: 0 0 20px rgba(241, 237, 237, 0.679);
    transform: scale(1.02);
    background-color: rgba(82, 79, 79, 0.811);
}

.song-list .info {
    font-size: 14px;
}

.play-now {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-now img {
    width: 30px;
}

.play-bar {
    position: fixed;
    min-height: 100px;
    bottom: 30px;
    background-color: #cfcccce0;
    width: 70vw;
    padding: 8px;
    display: flex;
    border-radius: 15px;
    filter: invert(1);
}

.above-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-title {
    width: 98%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.songCover {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.679);
    filter: invert(1);
    margin-left: 75px;
}

.song-info {
    text-shadow: 6px 4px 4px #000000;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
}

.song-controls {
    height: 37px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.song-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.song-buttons img {
    width: 32px;
    cursor: pointer;
}


.volume {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.volume img {
    width: 28px;
    margin: 0 5px;
}

.volume .volume-bar {
    height: 3.5px;
    background-color: black;
    appearance: none;
    border-radius: 5px;
}

.volume-bar::-webkit-slider-thumb {
    color: black;
    cursor: pointer;
}


.song-time {
    height: 30px;
    width: 100px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek-bar {
    height: 4px;
    width: 98%;
    background-color: black;
    position: absolute;
    bottom: 4px;
    border-radius: 10px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 30px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.2s;
}