/*media queries for smartphone*/
@media (max-width: 700px) {
    .left {
        background-color: rgb(0, 0, 0);
        position: absolute;
        left: -100%;
        transition: all 0.3s;
        z-index: 1;
        width: 310px;
    }

    .right {
        width: 100vw;
    }

    .hamburger {
        display: block;
    }

    .close-btn {
        display: block;
    }

    .card-container {
        margin-top: 20px;
        margin-left: 0;
        display: flex;
        justify-content: center;
        min-height: 60vh;
        width: 100%;
    }

    .card{
        width: 156px !important;
    }

    .card .coverImg{
        width: 135px;
        height: 130px;
    }


    .spotify-playlist .card {
        width: 400px;
        margin-bottom: 10px;
    }

    .play-bar {
        display: flex;
        justify-content: space-between;
        height: 250px;
        width: 100vw;
        flex-direction: column;
        padding: 10px;
        bottom: 10px;
    }

    .above-bar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
        padding: 8px;

    }


    .song-title{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 20px;
        height: 60px;
    }

    .songCover{
        margin: 0;
        width: 70%;
    }

    .song-info {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .song-controls {
        flex-direction: column;
        gap: 8px;
    }

    .seek-bar {
        width: 95%;
    }

    .right {
        margin: 0;
    }

    .spotify-playlist h1 {
        padding: 16px;
    }

}